* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(10, 10, 10);
    color: #fff;
}

#difficulty-menu {
    text-align: center;
    margin-top: 50px;
}

#difficulty-menu button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#game-container {
    display: none;
}

.scores-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-score {
    margin: 24px;
    padding: 24px;
    text-align: center;
    background-color: #ccc;
    color: #000;
}

.time {
    margin: 24px;
    padding: 24px;
    text-align: center;
    background-color: #ccc;
    color: #000;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    margin: 24px;
    padding: 24px;
}

.square {
    width: 200px;
    height: 200px;
    margin: 16px;
    background-color: rgb(60, 60, 60);
}

.emoji {
    background-image: url("https://icon2.cleanpng.com/lnd/20240531/qzv/ayx4q5edv.webp");
    background-position: center;
    background-size: cover;
}

.emoji-bad {
    background-image: url("https://banner2.cleanpng.com/20200213/wt/transparent-emoticon-5e45ec6357e9d4.0366297815816408033601.jpg");
    background-position: center;
    background-size: cover;
}